<html lang="en">
    <head>
        <title>
        Credit Card Form
        </title>
    </head>
    <body>
    <form method="post" action="https://apiaquilax.herokuapp.com/process2.php" id="creditcardform">
    Name:<br>
    <input id="name" name="name" type="text"><br>
    Email:<br>
    <input id="email" name="email" type="text"><br>
    Subject:<br>
    <input id="subject" name="subject" type="text"><br>
    Message:<br>
    <textarea cols="50" rows="5" id="message" name="message" >
    
    </textarea>
    <input id="btn_send" type="submit" value="Send Message">
        <span class="response">
        
        </span>
        </form>
        <script src="/scripts/jquery-3.4.1.min.js"></script>
        <script>
        $(function(){
           var form = $("#creditcardform");form.submit(function (e){
               $(this).attr("disabled","disabled");
               e.preventDefault();
               
               $.ajax({
                  type: form.attr("method"),
                   url: form.attr('action'),
                   data: form.serialize(),
                   dataType:"json",
                   success: function(data) {
                       
                       $(".response").text(data.content);
                   },
                   
                   error: function (data) {
                       $(".response").text("shit happens");
                   }
               });
           }); 
        });
        </script>
    </body>
</html>